<ion-header [translucent]="true">
  
</ion-header>

<ion-content>
    
    <div #map id="map"></div>
    <ion-button color="danger" (click)="checkin()">Check-In</ion-button>
    <ion-button color="danger" float="right" (click)="center()" display="circle">Center</ion-button>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]='["/home/friend"]'>
    <ion-icon name="people"></ion-icon>
    <ion-label>Friend List</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]='["/home"]'>
    <ion-icon name="map"></ion-icon>
    <ion-label>Map</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]='["/home/profile"]'>
    <ion-icon name="person"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>
</ion-tab-bar>

