<ion-header>
  <ion-toolbar>
    <ion-title>Friend List</ion-title>
    <ion-button (click)="addfriend()" slot="end">Add Friend</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let friend of friend">
      
      <ion-item-options side="start">
        <ion-item-option>
          <ion-icon name="trash" slot="icon-only" (click)="presentAlert(friend.email)"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        {{ friend.displayname }}
      </ion-item>
    

    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="friend">
      <ion-icon name="people"></ion-icon>
      <ion-label>Friend List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
